body
{
 text-align: center;  
 margin-top: 125px;
 
}
section
{
    height: 380px;
    width: 380px;
    border: 2px solid grey;
    box-shadow: solid grey;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-inline-end: 0ex;
   

   
   
}

h1{
    font-size:50px;
  color:blue;
  text-align: center;
}
p{
    font-size: 20px;
}
 label
 {
    margin-right: 165px;   
 }

input{
    font-size: 20px;
    height: 30px;
}
button
{
    height:40px;
    width: 250px;
   margin-top: 15px;
   background-color: rgb(78, 75, 236);
   padding-right: 40px;
   border-radius: 10px;
   border: cornsilk;
  
}
.abc1
{
    height: 33px;
    width: 145px;
    background-color:green;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 125px;
    padding-top: 15px;

}
.abc{

  font-style: normal;
  fill: aliceblue;
  color: aliceblue;
  text-align: center;
margin-left: 85px;
}

